*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  width: 1920px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: #000;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.button {
  background: #34547A;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  display: block;
  transition: 0.5s all;
}

.button:hover {
  opacity: 0.8;
}
